.bgHome {
  background-color: #170f23;
  min-height: 100vh;
}

.Recently {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txtAll {
  display: flex;
  align-items: center;
  color: #ffffff80;
}
.card {
  overflow: hidden;
  /* height: 200px; */
}
